.App {
   background-color: var(--colorFondo);
   color: var(--colorTexto);
}
.Applt {
   background-color: blue;
   color: brown;
}

.card {
   display: inline-block;
   border-radius: 10%;
   width: 22%;
   box-shadow: 0 0 20px rgb(207, 227, 235);
   /*Sombra gradiente */
   filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
   /*Elimina el color del fondo*/
   margin-left: 30px;
   margin-top: 5px;
   cursor: pointer;
}

.card:hover {
   animation-duration: 0s;
   border: 5px solid white;
   box-shadow: none;
   background: linear-gradient(70deg, pink, blue);
}

.male {
   color: red;
}

.female {
   color: pink;
}

h2 {
   margin-top: 0%;
   margin-bottom: 0%;
}

label {
   margin-bottom: 0%;
   color: rgb(68, 214, 214);
   text-align: start;
}

/* button {
   color: yellow;
   background-color: black;
   border-radius: 50%;
   border: yellow solid 1px;
   display:inline-block;
   align-content: end;
} */

img {
   width: 100%;
   border-radius: 0 0 10% 10%;
}

.floating {
   animation-name: floating;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes floating {
   0% { transform: translate(0, 0px);}
   50% {transform: translate(0, 15px);}
   100% {transform: translate(0, -0px);}
}

.txt {
   text-align: center;
   color: aliceblue;
}

.x {
   display: flex;
   /* flex-direction: column;
   align-items: end; */
}