.head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: red solid 5px;
  background-color: yellow;
  height: 4rem;
}

#divNav {
  width: 80%;
  background-color: var(--colorFondo);
  color: var(--colorTexto);
}

#divSearch {
  width: 20%;
  height: 4rem;
}

#find {
  color: black;
  border-radius: 0%;
}